<div>
    <h3>FCV - Faculdade Cidade Verde</h3>
    <br/>
    <h3>Uma Abordagem da Utilização Do Google Authenticator para aumentar segurança do software</h3>
    <p>
      O Objetivo deste artigo é propor uma aplicação de baixo custo, para ter um aumento de segurança do software, trazendo consigo a aplicação do Google Authenticator.
    </p>
    <p>
      O protótipo utilizará a linguagem de programação Java juntamente com o Framework Spring Boot, e  para seu back-end incorporado consigo para o front-end a tecnologia Angular, abordando uma simples utilização da validação de tokens gerados pelo Google Authenticator.
      <br/><br/>
    </p>
    <h4>Arthur Fritz Santiago</h4>
    <h5>arthurfritzz@gmail.com</h5>
    <h4>Ricardo Bortolo Vieira</h4>
    <h5>professor.ricardovieira@gmail.com</h5>
</div>