<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-button style="height: 0; position: absolute;"></a>
            <mat-list-item routerLink="/authenticator/inicio" [routerLinkActive]="['pressed']"  (click)="sidenav.close()">
                <button mat-icon-button >
                    <mat-icon>home</mat-icon>
                </button>
                <a mdLine>Início</a>
            </mat-list-item>
            <mat-list-item routerLink="/authenticator/list" [routerLinkActive]="['pressed']" (click)="sidenav.close()">
                <button mat-icon-button>
                    <mat-icon>account_circle</mat-icon>
                </button>
                <a mdLine>Usuários</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <span fxFlexOffset="20px">{{titlePage}}</span>
    </mat-toolbar>
    <mat-card id="content">
        <router-outlet></router-outlet>
    </mat-card>
</mat-sidenav-container>