mat-sidenav-container{
    position: fixed;
    margin: 0px;
    height: 100%;
    width: 100%;
}
mat-sidenav{
    width: 200px;
}
.pressed{
    background-color: #e6e6e6;
}
#content{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 65px;
    z-index: -1;
    overflow-x: auto;
}