<form [formGroup]="formulario" fxFlex fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="Nome" formControlName="nome">
    <mat-error *ngIf="formulario.get('nome').hasError('required') || formulario.get('nome').hasError('minLength')">
      Campo nome é <strong>requerido!</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="E-mail" formControlName="email">
    <mat-error *ngIf="formulario.get('email').hasError('email') && !formulario.get('email').hasError('required')">
      Insira um e-mail válido
    </mat-error>
    <mat-error *ngIf="formulario.get('email').hasError('required')">
      Campo e-mail é <strong>requerido!</strong>
    </mat-error>
  </mat-form-field>
  <br/>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
      <button mat-raised-button color="primary"  [disabled]="!formulario.valid" (click)="salvar()">Salvar</button>
      <button mat-raised-button color="warn" routerLink="/authenticator/list">Cancelar</button>
  </div>
</form>